[Desktop Entry]
Type=Application
Name=Ruqa
Comment=Offline-first file transfer
Exec=ruqa %U
Icon=com.ruqa.Ruqa
Categories=Network;
MimeType=application/octet-stream;inode/directory;x-scheme-handler/ruqa;
StartupNotify=true
Terminal=false
StartupWMClass=ruqa
